.Header {
  display: grid;
  place-items: center;
  height: 3.5rem;
  width: 100vw;
}

.headerCon {
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 3.5rem;
  height: inherit;
}

.logo {
  position: relative;
  right: 10rem;
  top: 1rem;
}

.search {
  position: relative;
  top: 0.5rem;
}

.search > input {
  height: 2rem;
  width: 20rem;
  position: relative;
  top: 0.2rem;
  color: #6c6e70;
  background-color: #f3f3f3;
  padding: 0.5rem;
  outline: none;
  border: 1px #000 solid;
  border-left: none !important;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.search > input::placeholder {
  color: #6c6e70;
}

.search > button {
  height: 2rem;
  width: 2.5rem;
  position: relative;
  top: 0.25rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.profile {
  position: relative;
  top: 0.5rem;
  left: 9rem;
  display: flex;
  justify-content: space-around;
  width: 16rem;
}

.profile > span:hover,
.profile > svg:hover {
  color: var(--mainColor);
  cursor: pointer;
}
